# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!internal/config/*.go
!internal/handlers/*.go
!internal/services/*.go
!internal/system/*.go
!internal/templates/*.go
!go.sum
!go.mod

!README.md
!CLAUDE.md
!LICENSE

!docs/dev/*.md
!docs/setup/*.md

!internal/templates/web/index.html
!internal/templates/web/save.html
!internal/templates/nixos/configuration.nix
#!internal/templates/immich/immich-config.json

!test/nixos/configuration.nix
!test/tank/immich/immich-config.json

!example/etc/nixos/*
!example/tank/immich-config/*

# !Makefile

# ...even if they are in subdirectories
!*/
