 		<label for="select-disk">Select Disk:</label>
        <select name="select-disk" id="select-disk" hx-get="/disks" hx-trigger="load">
            <option>Requires JavaScript to be Enabled</option>
        </select>
        <button id="refresh" type="button" hx-get="/disks" hx-target="#select-disk" hx-swap="innerHTML">Refresh List</button>
        <button id="start-backup" type="submit" hx-post="/backup" hx-target="#backup-form" hx-confirm="Are you sure you want to start the backup? This may take some time.">Start Backup</button>
        <br><small>Select backup disk from list. In order for a disk to be eligible, it must be connected via USB and have a partition formatted exFAT.</small>
