    <form id="ml-form" action="/mlmodel" method="post">
        <label for="ml-model">CLIP Model:</label>
        <select name="ml-model" id="ml-model">
            <option value="ViT-B-32__openai" {{if eq .ModelName "ViT-B-32__openai"}}selected{{end}}>Default (ViT-B-32__openai)</option>
            <option value="ViT-B-16-SigLIP__webli" {{if eq .ModelName "ViT-B-16-SigLIP__webli"}}selected{{end}}>Improved (ViT-B-16-SigLIP__webli)</option>
            <option value="ViT-SO400M-14-SigLIP-384__webli" {{if eq .ModelName "ViT-SO400M-14-SigLIP-384__webli"}}selected{{end}}>Beefy (ViT-SO400M-14-SigLIP-384__webli)</option>
        </select>
        <button type="submit" hx-post="/mlmodel" hx-target="#ml-form">Submit</button>
        <br><small>Select the machine learning model for image recognition. Higher quality models require more resources.</small>
    </form>
